body {
  margin: 0;
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif;
  background: #eff2f8;
  min-width: 1330px;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
/* Header */
.header {
  display: flex;
  padding: 24px 48px;
  align-items: center;
  background: #fff;
  flex-basis: 80px;
  box-sizing: border-box;
  box-shadow: 0 4px 4px 0 rgba(79, 88, 178, 0.25);
}
a {
  text-decoration: none;
}
.logo {
  margin-right: 117px;
}
.logo-item {
  margin: 0;
  width: 75px;
  font-weight: bold;
  font-size: 24px;
  color: #6a75ca;
}
li {
  list-style: none;
}
.list {
  display: flex;
}
.list-item {
  margin-right: 47px;
  font-weight: bold;
}
.link-header {
  color: #000;
}
/* Intro Page */
.heading {
  font-size: 54px;
  line-height: 1.17;
  color: #131320;
  margin: 100px 0;
  text-align: center;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  filter: drop-shadow(0 4px 10px rgba(79, 88, 178, 0.25));
}
.card {
  width: 240px;
  height: 240px;
  margin: 0 19px 48px 19px;
  clip-path: polygon(0 0, 80% 0, 100% 20%, 100% 100%, 0 100%);
  line-height: 1.31;
  padding: 32px 0 0 32px;
  box-sizing: border-box;
  overflow: auto;
  padding: 32px;
}
.large {
  width: 796px;
  clip-path: polygon(0 0, 94% 0, 100% 20%, 100% 100%, 0 100%);
}
.card-info {
  margin: 0;
  margin-bottom: 10px;
}
.container {
  display: flex;
}
/* Colors */
.white {
  background: #fff;
  color: #7d868e;
}
.purple {
  background: #6a75ca;
  color: #fff;
}
.checked-color {
  color: #6a75ca;
}
/* Sidebar */
.grow {
  flex-grow: 1;
}
.sidebar {
  flex: 0 0 240px;
  background: #6a75ca;
  color: #fff;
  box-sizing: border-box;
  padding: 32px 32px 48px 48px;
}
.inner-list {
  margin: 0;
  padding: 0;
}
.inner-list-item {
  margin-bottom: 16px;
}
.inner-link {
  line-height: 2;
}
.checked {
  list-style: outside;
}
/* Content */
.content {
  flex-grow: 1;
}
.heading-content {
  font-size: 36px;
  line-height: 1.17;
  color: #131320;
  margin: 0;
  padding: 24px 0 23px 48px;
  border-bottom: 1px solid #131320;
}
/* Box */
.box {
  position: relative;
  min-height: 127px;
  margin: 48px;
  padding: 32px;
}
.border-label {
  font-family: Helvetica, Arial, sans-serif;
  color: #ffc806;
  background: #eff2f8;
  line-height: 1.75;
  font-size: 12px;
  position: absolute;
  padding: 0 10px;
  top: -25px;
  left: 30px;
}
.white.box::before {
  content: "";
  position: absolute;
  display: block;
  top: -15px;
  left: -15px;
  right: -15px;
  bottom: -15px;
  border: 1px solid blue;
  border-radius: 5px;
  z-index: -1;
}
.box::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 48px 0 0 48px;
  border-color: #eff2f8 transparent transparent transparent;
}
/* Elements page */
.headings {
  position: relative;
  display: inline-block;
  margin: 24px 0 0 48px;
}
.headings:before {
  content: "";
  position: absolute;
  width: 800%;
  height: 1px;
  background: #131320;
  left: 0;
  bottom: -15px;
}
.h-item {
  margin: 40px 0 0 48px;
}
.h-item1 {
  margin: 40px 0 42px 48px;
}
.h-item2 {
  margin: 0 0 21px 48px;
}
.h-item3 {
  margin: 0 0 10.5px 48px;
}
h4,
h5,
h6 {
  margin: 48px 10.5px;
}
/* Components */
.nav {
  background: #000;
  padding: 2px 40px;
  margin: 48px;
}
.nav-list {
  text-align: right;
  padding: 0;
  margin: 0;
}
.nav-item {
  display: inline-block;
  vertical-align: top;
  margin: 0 50px 0 0;
}
.nav-item a {
  color: #000;
  background: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 32px;
  line-height: 37px;
  font-family: Helvetica, Arial, sans-serif;
  padding: 30px 25px 29px 25px;
  display: inline-block;
  position: relative;
}
.nav-item a:after {
  content: "";
  display: block;
  position: absolute;
  right: -25px;
  top: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 48px 0 48px 25px;
  border-color: transparent transparent transparent #fff;
}
.nav-item a:before {
  content: "";
  display: block;
  position: absolute;
  left: -25px;
  top: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 48px 0 48px 25px;
  border-color: #fff #fff #fff transparent;
  z-index: 0;
}
.gradient {
  background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0) 127.92%);
}
.nav-item a:hover {
  background: rgba(255, 255, 255, 0.7);
}
.nav-item a:hover:before {
  border-color: rgba(255, 255, 255, 0.7) rgba(255, 255, 255, 0.7)
    rgba(255, 255, 255, 0.7) transparent;
}
.nav-item a:hover:after {
  border-color: transparent transparent transparent rgba(255, 255, 255, 0.7);
}
/* Layouts */
.flex-wrapper {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 400px;
  border: 1px solid #000;
  margin: auto;
}
.header-menu {
  background: #000;
  flex: 0 0 80px;
  display: flex;
  box-sizing: border-box;
}
.flex-container {
  display: flex;
  flex: 1 1 500px;
}
.flex-content {
  background: green;
  flex-grow: 1;
}
.flex-sidebar {
  flex: 0 0 140px;
  background: #d5c4b2;
}
/* Text in HTML CSS */
.style-text {
  font-family: Courier, "Courier New", monospace;
  line-height: 1.31;
}